<section class="section pb-0">
  <div class="container">
    <div class="columns is-desktop is-multiline">
      <div class="column is-4-widescreen is-6-desktop mb-5">
        <h2 class="h5 section-title">About Us!</h2>
        <article class="card">
          <div class="post-slider slider-sm">
            <img src="images/director.png" class="card-img-top" alt="post-thumb">
          </div>
          
          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">AMBUCS is a national charitable service organization consisting of a diverse group of men and women dedicated to creating mobility and independence for people with disabilities</a></h3>

          </div>
        </article>
      </div>
      <div class="column is-4-widescreen is-6-desktop mb-5">
        <h2 class="h5 section-title">Altoona Chapter!</h2>
        
        <article class="card mb-5">
          <div class="card-body is-flex">
            <img class="card-img-sm" src="images/bikeKid.gif">
            <div class="ml-3">
              <h4><a href="post-details.html" class="post-title">Our mission is to accomadate children with mobility disabilities</a></h4>

        </article>
        
        
        
        <article class="card mb-5">
          <div class="card-body is-flex">
            <img class="card-img-sm" src="images/aboutUs.png">
            <div class="ml-3">
              <h4><a href="post-details.html" class="post-title">Check out our Altoona Chapter Here!</a></h4>
        </article>

        <article class="card mb-5">
          <div class="card-body is-flex">
            <img class="card-img-sm" src="images/services.png">
            <div class="ml-3">
              <h4><a href="post-details.html" class="post-title">Click here to see our services!</a></h4>
        </article>

      </div>
      
      <div class="column is-4-widescreen mb-5">
        <h2 class="h5 section-title">Our facebook!</h2>
        
        <article class="card">
          <div class="post-slider slider-sm">
            <img src="images/facebook.png" class="card-img-top" alt="post-thumb">
          </div>
          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">Come check out our facebook page to keep up with news and events!  We have more info on our FaceBook page about </a></h3>

            <p></p>

          </div>
        </article>
      </div>
      <div class="column is-12">
        <div class="border-bottom border-default"></div>
      </div>
    </div>
  </div>
</section>